/* body {
    background-image: url(Capture.PNG)
}

#exampleInputMemberno {
    margin-left: 30;
}

#exampleInputAadharno {
    margin-left: 30;
}

#form {
    min-height: 50px;
}

.Mno {
    font-size: 20px;
}

.registration {
    font-size: 45px;
    font-family: Bookman Old;
    font-weight: 700;
    border-bottom-style: ridge;
    color: black;
    padding-left: 40;
}

.text-center {
    font-size: 25px;
    color: black;
    padding-left: 70;
}

.row {
    color: teal;
}

.address {
    padding-left: 10;
    padding: 1;
}

.form-inline {
    font-family: Arial Black;
    padding: 20;
    padding-left: 1;
} */

/* .aadharno {
    margin-left: 70;
}

.name {
    margin-left: 40;
}

.address2 {
    margin-left: 100;
}

.City {
    margin-left: 100;
}

.City1 {
    margin-left: -20;
}

.District {
    margin-left: 230;
    margin-top: -35;
}

.District1 {
    margin-left: 10;
}

.State {
    margin-left: 30;
    margin-top: -25;
}

.State1 {
    margin-left: -20;
    margin-top: -25;
}

.pin {
    margin-left: 210;
    margin-top: 15;
}

.pin1 {
    margin-left: -20;
    margin-top: 15;
}

.contact {
    margin-top: -45;
}

.mob {
    margin-left: 125;
    margin-top: -45;
}

.mob1 {
    margin-left: -5;
    margin-top: -20;
}

.email {
    margin-top: -20;
}

.email1 {
    margin-top: -20;
    margin-left: -20;
}

.web {
    margin-top: -25;
}

.web1 {
    margin-top: -5;
    margin-left: 70;
}

.business {
    margin-top: -90;
}

.business1 {
    margin-left: 100;
    margin-top: -90;
}

.baddress {
    margin-top: 20;
    margin-left: -520;
}

.baddress1 {
    margin-top: 20;
    margin-left: 35;
}

.sex {
    margin-top: -80;
}

.sex1 {
    margin-left: 220;
    margin-top: -70;
}

.sex2 {
    margin-left: 220;
}

.sex3 {
    margin-left: 220;
}

.fmemb {
    margin-top: -40;
}

.sex10 {
    margin-left: -150;
}

.relation {
    margin-left: -50;
}

.income {
    margin-top: -50;
}

.income1 {
    margin-top: -40;
    margin-left: -10;
}

.own {
    margin-top: -90;
}

.own1 {
    margin-top: -90;
}

.jamat {
    margin-top: -90;
}

.jamat1 {
    margin-top: -80;
    margin-left: 75;
}

.jcity {
    margin-top: -50;
}

.jcity1 {
    margin-top: -50;
    margin-left: 60;
}

.jstate {
    margin-top: -65;
    margin-left: 20;
}

.jstate1 {
    margin-top: -50;
}

.date {
    margin-top: -30;
}

.date1 {
    margin-left: 170;
    margin-top: -30;
}

.sign {
    margin-top: -20;
}

.sign1 {
    margin-top: -20;
}

.des {
    margin-top: -30;
}

.des1 {
    margin-top: -30;
} */